body{
	margin: 0px;
	padding: 0px;
	font-size: 14px/1.5em 微软雅黑;
	color: #999;
}
div.main{
	width: 800px;
	margin: 0px auto;
}
div.h1{
	color: cadetblue;
}
ul.message{
	list-style-type: none;
	background-color: rgba(146,235,185,0.2);
	border-radius: 8px;
}
ul.message li{
	line-height: 30px;
}
ul.message li.reply{
	background-color: antiquewhite;
	color: #333;
	padding-left: 15px;
	border-radius: 6px;
}
.admin{
	color: #f00;
}
.message .delete{
	color: #f00;
	text-decoration: none;
}